img.main-image
{
					margin-top: 36px;
					margin-bottom: 0;
}

input.default-btn:hover {
					background-color: #fff;
					border-color: #5e2c6c;
					color: #5e2c6c;
}

.default input.input-error, .default textarea.input-error {
					border: 1px solid #F00;	
}

#product .info p {
					padding-bottom: 12px;	
}

#search-form {
	z-index: -1;	
}

#product .images a.fancybox,
#product .images a.unfancybox {
	display: block;
	min-height: 456px;
   line-height: 456px;	
}



@media screen and (max-width:980px)
{
	#product .images a.fancybox,
	#product .images a.unfancybox {
		display: block;
		min-height: auto;	
	   line-height: auto;	
	}
}

/*Where to buy*/

.store-locator input,.store-locator textarea,.store-locator select,.store-locator button {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(94, 44, 108, 0.4);
    display: block;
    line-height: 37px !important;
    margin-bottom: 18px !important;
    padding: 7px 24px !important;
    position: relative;
    transition: all 0.3s ease-out 0s;
    width: 100% !important;
}
.store-locator select{height:28px;}
.store-locator button {cursor:pointer;}
.store-locator .col-3{width:38%;margin-right:2%;float:left;}
.store-locator .col-8{width:20%;float:left;}
#map_wrapper {
height: 550px;
}
#map_canvas {
	width: 100%;
	height: 100%;
}
.dealers-listing{padding-top: 20px; padding-bottom: 20px;}
.dealers-listing .dealer-head{ 
	margin-bottom: 15px; 
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    letter-spacing: 0.5px;
    font-size: 34px;
    text-transform: uppercase;
    color: #231f20;
    padding-bottom: 0;
    display: none;
}
.dealers-listing ul{list-style:none;}
.dealers-listing li{ clear: both;margin-left:0!important;}
.single-dealer{padding-left: 0; margin-bottom: 34px;}
.single-dealer .dealer-logo{float: left; border: 1px solid #000; width: 196px; height: 196px; overflow: hidden; margin-left: -220px; position: relative;}
.dummy { padding-top: 100%; /* forces 1:1 aspect ratio */}
.img-container {position: absolute; top: 0; bottom: 0; left: 0; right: 0; text-align:center; /* Align center inline elements */ }
.img-container:before {content: ' '; display: inline-block; vertical-align: middle; height: 100%;}
.img-container img { vertical-align: middle; display: inline-block; max-width: 100%;}
.single-dealer .dealer-logo img{display: table-cell; vertical-align: middle; width: auto;}
.single-dealer p{margin-bottom: 8px; font-size: 18px;}
.single-dealer p span{font-weight: 600;}
/****info box on map********/
.single-dealer.single-d-map{padding-left: 0;width: 380px; margin-top: 5px; margin-bottom: 5px;}
.single-dealer.single-d-map .dealer-title{font-size:14px; margin-bottom: 5px;}
.single-dealer.single-d-map .dealer-logo{width: 102px; height: 102px; margin-left: -115px;}
.single-dealer.single-d-map p{font-size: 11px; margin-bottom: 2px;line-height:20px;}
/*Where to buy*/

.online-retailers {
	list-style-type: none;
}

.online-retailers li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


/*REDESIGN*/
p.default {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 19px;
    letter-spacing: 0.02em;
    color: #231f20;
    padding-bottom: 0;
}
.thanksContainer {
	padding-top: 50px;
	padding-bottom: 100px;
}
img.rightArrow {
	width: 6px;
	margin-left: 5px;
}
img.shareIcon {
	width: 18px;
    top: 21px;
    right: 0;
}
.sf-menu {
	width: 970px;
}
.sf-menu li#menu-item-45 {
	background-color:#453048;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	text-align: center;
	border: 0;
	border-radius: 2px;
	width: 98px;
	height: 26px;
	font-family: 'Proxima Nova'; 
	font-weight: normal;
	color:#fff;
	margin-top: 8px;
	box-shadow: 3px 5px 20px rgba(0,0,0,0.5);
}
.sf-menu li#menu-item-45 a {
	color:#fff !important;
	padding: 0;
	padding-top: 7px;
}
ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.sf-menu {
	text-align: left;
}
.sf-menu li {
	font-family: 'Proxima Nova';
	letter-spacing: 2px;
	font-size: 13px;
}
.homeHero {
	height: 700px;
	width: 100%;
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
}
.homeHeroContent {
	padding-top:150px;
	width: 100%;
	text-align: center;
}
.homeHeroContent h1 {
	font-family: 'Selima';
	font-weight: normal;
	font-size: 130px;
	color:#5f4067;
	margin-bottom: 15px;
	padding-bottom: 0;
}
.homeHeroContent h4 {
	font-family: 'Proxima Nova Th';
	font-size:40px;
	font-weight: 100;
	letter-spacing: 1px;
	color:#5f4067;
	text-transform: lowercase;
	-webkit-font-smoothing: antialiased;
}
.homeHeroContent button {
	background-color:rgba(164, 147, 165, 0.8);
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	border: 0;
	border-radius: 3px;
	padding: 12px;
	width: 185px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	margin-top: 12px;
}

.homeHeroContent a button {
	color:#fff;
}
 .homeHeroContent button:hover {
	background-color:rgba(164, 147, 165, 1);
	cursor: pointer;
}

.homeSectionOne {
	overflow: hidden;
	background-size: 35%;
	background-position: left center;
	background-repeat: no-repeat;
}
.homeSectionOneLeft {
	float: left;
	width: 35%;
}
.homeSectionOneRight {
	float: right;
	width: 65%;
	background-color: #fff;
	padding: 30px 60px 100px 60px;
}
.homeSectionOneRightText {
	width: 70%;
}
.homeSectionOneRight h4 {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 40px;
	color:#d7b34d;
	-webkit-font-smoothing: antialiased;
}

.homeSectionOneRight p {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	font-size: 18px;
	color:#231f20;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5em;
	margin-bottom: 5px;
}
.homeSectionOneRight a {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: 'Proxima Nova'; 
	font-weight: 600;
	color:#5f4067;

}
img.dash {
	width: 50px;
}


.homeSectionTwo {
	overflow: hidden;
	background-size: 35%;
	background-position: right center;
	background-repeat: no-repeat;
}
.homeSectionTwoRight {
	float: right;
	width: 30%;
}
.homeSectionTwoLeft {
	float: left;
	width: 70%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 100px 50px;
}

.homeSectionTwoLeftText {
	width: 70%;
	background-color: rgba(255, 255, 255, 1);
	margin: 0 auto;
}

.homeSectionTwoLeft a {
	background-color:#453048;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	text-align: center;
	border: 0;
	border-radius: 2px;
	width: 98px;
	height: 26px;
	font-family: 'Proxima Nova'; 
	font-weight: 600;
	color:#fff;
	padding: 9px 14px;
	margin-top: 8px;
	box-shadow: 3px 5px 20px rgba(255,255,255,0.5);

}
.homeSectionTwoLeftText {
	padding: 25px;
}
.homeSectionTwoLeftText h3 {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	font-weight: normal;
	color:#b53368;
	font-size: 46px;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.homeSectionTwoLeftText p {
    font-family: 'Proxima Nova Th';
    font-size: 18px;
    color: #231f20;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;
    margin-bottom: 5px;
}
.newsletterSection {
	height: auto;
	width: 100%;
	background-color: #fff;
}

.newsletterSectionWrapper {
	width: 970px;
	margin: 0 auto;
	padding-top: 25px;
		text-align: center;
}

.newsletterSection h5 {
	font-family: 'Proxima Nova'; 
	font-weight: normal;
	padding-top: 2px;
	color:#006471;
	font-size: 20px;
	letter-spacing: 1px;
	display: inline-block;
	vertical-align: top;
}
form.newsletterForm {
	display: inline-block;
	vertical-align: top;
}
form.newsletterForm p {
    padding: 0;display: inline-block;
}
form.newsletterForm input{
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
}
form.newsletterForm input[type="email"],
form.newsletterForm input[type="text"]{
	font-family: 'Proxima Nova'; 
	font-weight: 600;
	color:rgba(35, 31, 32, 0.35);
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border:1px solid rgba(157, 184, 190, 0.55);
	width:160px;
	padding-top: 1px;
	padding-left: 8px;
	height: 32px;
}
.widget_wysija_cont.shortcode_wysija {
    text-align: left !important;
}
.widget_wysija_cont .wysija-submit {
    display: inline-block !important;
    margin-top: 0 !important;
}
form.newsletterForm input[type="submit"] {
	background-color:#9db8be;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 0;
	width: 85px;
	font-family: 'Proxima Nova'; 
	font-weight: 600;
	color:#fff;
	height: 32px;
	margin-left: -5px;
}
.midHero {
	height: 550px;
	width: 100%;
	background-size: cover;
	background-position: 85% center;
	background-repeat: no-repeat;
	padding-top: 1%;
	position: relative;
	z-index: 1;
}
.midHeroBorder {
	width: 98%;
	margin: auto;
	height: 98%;
	border: 1px solid #fff;
}
.midHeroContent {
	padding-top:75px;
	width: 100%;
	text-align: center;
}
.midHeroContent h1 {
	font-family: 'Selima';
	font-weight: normal;
	font-size: 130px;
	color:#fff;
	margin-bottom: 15px;
	padding-bottom: 0;
	line-height: 1em;
}
.midHeroContent h4 {
	font-family: 'Proxima Nova Th';
	font-size:40px;
	font-weight: 100;
	letter-spacing: 1px;
	color:#fff;
	text-transform: capitalize;
	-webkit-font-smoothing: antialiased;
	margin-top: 0;
	padding-top: 0;
	line-height: 1em;
}
.midHeroContent button {
	background-color:rgba(164, 147, 165, 0.8);
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	border: 0;
	border-radius: 3px;
	padding: 12px;
	width: 185px;
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	margin-top: 10px;
}

.midHeroContent a button {
	color:#fff;
}
 .midHeroContent button:hover {
	background-color:rgba(164, 147, 165, 1);
	cursor: pointer;
}

.sectionShowcase {
	width: 100%;
	background-color: #fff;
	padding-bottom: 75px;
}
.sectionShowcaseContainer {
	width: 920px;
	border-radius: 10px;
	margin-top: -100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	position: relative;
	z-index: 2;
}

.sectionShowcaseHeader {
	width: 60%;
	margin: 0 auto;
	padding-top: 40px;
}

.sectionShowcaseHeader h2{
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	font-size: 46px;
	color:#5f4067;
	text-align: center;
	margin-bottom: 10px;
	padding-bottom: 0;
	line-height: 1em;
}

.sectionShowcaseHeader p {
    font-family: 'Proxima Nova Th';
    font-size: 18px;
    color: #231f20;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;
    margin-bottom: 5px;
}

.sectionShowcaseContent {
	overflow: hidden;
	margin-top: 15px;
	text-align: center;
}
.sectionShowcaseContent img.knob{
	height: 85px;
	margin-bottom: -20px;
}
.sectionShowcaseContent img.pull{
	height: 85px;
	margin-top: -15px;
}
.sectionShowcaseContent .topSection{
	overflow: hidden;
	background-size: 50%;
	background-position: right center;
	background-repeat: no-repeat;
}
.topSectionRightBorder,
.bottomSectionLeftBorder {
	width: 98%;
	margin: auto;
	height: 98%;
/*	border: 1px solid #fff;*/
} 
.sectionShowcaseContent .bottomSection {
	overflow: hidden;
	background-size: 50%;
	background-position: left center;
	background-repeat: no-repeat;
	position: relative;
}

.sectionShowcaseContent .topSection div,
.sectionShowcaseContent .bottomSection div{
	float: left;
	width: 50%;
	text-align: left;
}

.sectionShowcaseContent .topSection h4,
.sectionShowcaseContent .bottomSection h4
 {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	font-size: 60px;
	color:#5f4067;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 1em;
	text-align: left;
}
.sectionShowcaseContent .topSection p,
.sectionShowcaseContent .bottomSection p {
	font-family: 'Proxima Nova Th';
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	color:#231f20;
	line-height: 1.5em;
	margin-bottom: 5px;
	width: 95%;
	text-align: left;
}


.sectionShowcaseContent .topSection h6,
.sectionShowcaseContent .bottomSection h6 {
	font-family: 'Proxima Nova'; 
	font-weight: 600;
	color:rgba(53, 52, 46, 0.8);
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 10px;
	text-align: left;
}
.sectionShowcaseContent .topSectionLeft {
	border-top-left-radius:30px;
	background-color: #f2efec;
	padding: 66px;
}
.sectionShowcaseContent .topSectionLeft a {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: 'Proxima Nova'; 
	font-weight: 600;
	color:#5f4067;
	text-align: left;
}

.sectionShowcaseContent .bottomSectionRight {
	border: 0;
	border-bottom-right-radius:30px;
	background-color: #f2efec;
	padding: 66px;
}
.sectionShowcaseContent .bottomSectionRight a {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: 'Proxima Nova'; 
	font-weight: 600;
	color:#5f4067;
}


.sectionShowcaseContent .bottomSectionRight {
	float: right !important;
}


.showcaseRetailers {
	margin-top: 50px;
	text-align: center;
	padding-bottom: 50px;
}
.showcaseRetailers h4 {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 22px;
	text-transform: uppercase;
	color:#d7b34d;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}
.retailerIcons {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.retailerIcons div {
	width: 12.666%;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
	    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}
.retailerIcons img{
	width: 90%;
	margin: 0 auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.retailerIcons img:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}


/*ABOUT PAGE*/
.aboutHero {
	margin-top: 100px;
	height: 600px;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 1%;
	position: relative;
	z-index: 1;
}
.aboutHeroContent {
	width: 85%;
	margin: 0 auto;
	margin-top: 100px;
	background-color:rgba(255, 255, 255, 0.75) ;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.aboutHeroContentWrapper {
	width: 70%;
	margin: 0 auto;
	padding-top: 40px;
}
.aboutHeroContent h1 {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    letter-spacing: 1.5px;
    font-size: 54px;
    color: #5f4067;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 15px;
}

.aboutHeroContent p {
	font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 16px;
    color: #5f4067;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.aboutHeroContent a {
	font-weight: bold;
	text-decoration: underline;
}
.aboutHeroContent li {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	padding-bottom: 50px;
}
.aboutHeroContent li {
	text-align:right;
	padding-right: 20px;
}
.aboutHeroContent li a button {
	background-color:#b2a3b2;
	font-size: 12px;
	text-transform: uppercase;
	border: 0;
	border-radius: 2px;
	width: 155px;
	height: 32px;
	letter-spacing: 1px;
	font-family: 'Proxima Nova'; 
	font-weight: 600;
	color:#fff;
	margin-top: 8px;
	display: inline-block;
	vertical-align: top;
	outline: 0;
}
.aboutHeroContent li a:hover button {
	cursor: pointer;
}
.aboutHeroContent li.contactBtn {
	text-align: left;
	padding-left: 20px;
}
.aboutHeroContent li.contactBtn a button {
	background-color:#453048;
	font-size:12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	border: 0;
	border-radius: 2px;
	width: 155px;
	height: 32px;
	font-family: 'Proxima Nova'; 
	font-weight: 600;
	color:#fff;
	margin-top: 8px;
}

.lifestyleSection {
	overflow: hidden;
	background-size: contain;
	background-position: left top;
	background-repeat: no-repeat;
	padding-top: 150px;
}
.exploreInstagram {
	float: right;
	width: 70%;
	background-color: #fff;
	padding-bottom: 50px;
}
.exploreInstagramWrapper {
	padding-left: 70px;
	padding-right: 20px;
	padding-top: 50px;
	width: 80%;
}
.exploreInstagramHeader {
	padding-bottom: 10px;
}

.exploreInstagramHeader h5 {
	font-family: 'Proxima Nova Th';
    font-size: 18px;
    color: #231f20;
    margin-bottom: 0;
    padding-bottom: 0;
    -webkit-font-smoothing: antialiased;
}
.exploreInstagramHeader h2 {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    letter-spacing: 0.75px;
    font-size: 40px;
    color: #231f20;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0;
    padding-bottom: 0;
}
.gridThree {
	overflow: hidden;
}
.gridThree > div {
	float: left;
	width: 33.3%;
	padding: 20px;
	text-align: center;
}
.gridThree > div img {
	width: auto;
	max-height: 200px;
	padding: 10px 10px 10px 0;
	text-align: left;
}
.gridThree > div p {
	font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 12px;
    color: #5f4067;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}
.gridThree > div a button {
	background-color:#b2a3b2;
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	border: 0;
	border-radius: 2px;
	height: 26px;
	font-family: 'Proxima Nova'; 
	font-weight: normal;
	color:#fff;
	margin-top: 8px;
	width: 70px;
}
.gridThree > div .instagramProductTitle {
	height: 30px;
}


/*FAQ*/
.faqSection {
	width: 100%;
	padding-top: 106px;
}
.faqGrid {
	width: 100%;
	background-color: #fff;
	padding-top: 0;
}
.faqGridWrapper {
	padding-left: 70px;
	padding-right: 20px;
}
.faqGridHeader {
	padding-bottom: 10px;
	width: 45%;
	margin: 0 auto;
	text-align: center;
}

.faqGridHeader h5 {
	font-family: 'Proxima Nova Th';
    font-size: 18px;
    color: #5f4067;
    margin-bottom: 0;
    padding-bottom: 3px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}
.faqGridHeader h2 {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    letter-spacing: 0.75px;
    font-size: 40px;
    color: #5f4067;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
}
.faqGridHeader img {
	width: 100px;
	margin-top: 20px;
}
.faqGridContainer {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 20px;
	overflow: hidden;
}
.faqGridTable {
	width: 340px;
	padding: 20px 35px 70px 35px;
	background-color: #fff;
	border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    float: left;
    margin-left: 10px;
}
.faqGridTable ul {
	padding-bottom: 100px;
	margin-bottom: 15px;
	border-bottom: 2px solid rgba(95, 64, 103, 0.3);
}
.faqGridTable ul li {
	font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 13px;
    color: #5f4067;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;
    margin-bottom: 12px;
}
.faqGridTable ul li a {
	color: #5f4067;
}
.faqGridTable ul li a:hover {
	text-decoration: underline;
	cursor: pointer;
}
.faqGridTable p {
	font-family: 'Proxima Nova';
    font-size: 14px;
    color: #5f4067;
    line-height: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-font-smoothing: antialiased;
}
.faqGridTable a button {
	background-color: #b2a3b2;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    border: 0;
    border-radius: 2px;
    width: 110px;
    height: 26px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    color: #fff;
    margin-top: 4px;
}
.faqGridTable a button:hover {
	cursor: pointer;
}

.faqGridContent {
	float: left;
	width: 45%;
	margin-left: 100px;
}
.faqReveal {
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid rgba(95, 64, 103, 0.3);
}
.faqReveal h4 {
	font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 17px;
    color: #5f4067;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-align: left;
    letter-spacing: 1px;
}
.faqReveal h4 p {
	color: #5f4067;
}
.faqReveal p {
	font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 15px;
    color: #231f20;
    line-height: 1.6em;
    padding-left: 15px;
    padding-bottom: 5px;
    -webkit-font-smoothing: antialiased;
    font-weight: 400 !important;
}
.faqReveal p a {
    text-decoration: underline !important;
}
/*SEARCH*/
.searchSection {
	width: 100%;
	padding-top: 146px;
}
.searchHeader {
	text-align: center;
}
.searchHeader h2 {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    letter-spacing: 0.75px;
    font-size: 40px;
    color: #5f4067;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}
img.pullImg {
	width: 100px;
	margin-top: 20px;
}
a.prod-entry h3 {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 0.02em;
    color: #231f20;
    padding-bottom: 0;
}
p.results {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 19px;
    letter-spacing: 0.02em;
    color: #231f20;
    margin-top: 15px;
} 
/*CONTACT*/

.contactHero {
	margin-top: 100px;
	width: 100%;
	background-size: contain;
	background-repeat: repeat;
	background-position: center center;
	padding-top: 80px;
	padding-bottom: 100px;
	position: relative;
	z-index: 1;
}
.contactHeroContent {
	width: 970px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 70px;
	background-color:rgba(255, 255, 255, 0.9) ;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.contactContentWrapper {
	width: 70%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 40px;
}
.contactHeroContent h1 {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    letter-spacing: 1.5px;
    font-size: 54px;
    color: #E2B961;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 5px;
}

.contactHeroContent h6 {
    font-family: 'Proxima Nova';
    font-weight: bold;
    color: #E2B961;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.contactHeroContent p {
	font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 14px;
    color: #231f20;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    width: 60%;
    margin: 0 auto;
}
.contactNumbers {
	padding-bottom: 25px;
}

.contactNumbers ul li {
    font-family: 'Proxima Nova';
    font-weight: bold;
    color: #231f20;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1em;
    text-align: center;
    margin-bottom: 0;
    display: inline-block;
    width: 49%;
}
.contactNumbers ul li:nth-child(1) {
	text-align: right;
	padding-right: 10px;
}
.contactNumbers ul li:nth-child(2) {
	text-align: left;
	padding-left: 10px;
}
.contactNumbers ul li span#lighter {
	color:rgba(35, 31, 32, 0.5);
}
.contactForm {
	width: 500px;
	margin: 0 auto;
}
.contactForm {
	padding-top: 30px;
}
.contactForm form input[type="text"] {
	display: block;
	font-family: 'Proxima Nova';
    font-weight: bold;
    color: rgba(35, 31, 32, 0.8) !important;
    font-size: 9px;
    letter-spacing: 2px;
    border: 1px solid rgba(35, 31, 32, 0.09);
    padding-top: 1px;
    padding-left: 8px;
    height: 32px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.contactForm form textarea {
	display: block;
	font-family: 'Proxima Nova';
    font-weight: bold;
    color: rgba(35, 31, 32, 0.15);
    font-size: 9px;
    letter-spacing: 2px;
    border: 1px solid rgba(35, 31, 32, 0.09);
    padding-top: 1px;
    padding-left: 8px;
    height: 100px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.contactForm form input[type="submit"] {
	display: block;

    background-color: #453048;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    border: 0;
    border-radius: 2px;
    width: 98px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    color: #fff;
    line-height: 3em;
    margin-top: 8px;
    box-shadow: 3px 5px 20px rgba(255,255,255,0.5);
}

/*WOOCOMMERCE*/
body.single-product #header,
body.post-type-archive-product #header,
body.page-id-796 #header {
	background-color: #fff;
}

/*SINGLE PRODUCT PAGE*/
body.single-product p.price {
	display: none;
}
body.single-product .product_meta {
	display: none;
}

body.single-product #search-box {
	width: 35px;
}
.productHero {
	margin-top: 27px;
	height: 350px;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 1%;
	position: relative;
	z-index: -1;
}
.productContainer {
	width: 85%;
	margin: 0 auto;
}

body.single-product .woocommerce-breadcrumb a {
    color: #fff;
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
body.single-product div.product {
	margin-top: -125px;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

body.single-product .single-product-main-image img {
	margin: auto;
	width: 75% !important;
	padding:40px !important;
}
body.single-product div.thumbnails {
	margin-top: 20px;
}
body.single-product div.thumbnails img {
	width: 100% !important;
}
body.single-product div.summary {
	background-color: #fff;
	height: 600px;
	border-radius: 10px;
	padding: 30px 35px 25px;
	width: 38.5% !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
} 
body.single-product div.summary h3 {
	display: none;
}


/*CATEGORY PAGE*/

body.post-type-archive-product nav.woocommerce-breadcrumb,
body.tax-product_cat nav.woocommerce-breadcrumb {
	display: none;
}
body.post-type-archive-product form.woocommerce-ordering,
body.tax-product_cat form.woocommerce-ordering {
	display: none;
}
body.post-type-archive-product h1.page-title,
body.tax-product_cat h1.page-title{
	display: none;
}
body.post-type-archive-product .woocommerce-result-count,
body.tax-product_cat .woocommerce-result-count{
	display: none;
}
body.post-type-archive-product div#sidebar,
body.tax-product_cat div#sidebar{
	display: none;
}
body.post-type-archive-product ul.products li.product .price {
	display: none;
}
.catHero {
	margin-top: 47px;
	height: 500px;
	width: 100%;
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-top: 1%;
	position: relative;
	z-index: 1;
}
.catHeroContent {
	padding-top: 60px;
	width: 60%;
	margin: 0 auto;
	margin-left: 70px;
	color:#fff;
}

.catHeroContent h2 {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 38px;
	color:#fff;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 1em;
}
.catHeroContent h1 {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	letter-spacing: 3.5px;
	font-size: 92px;
	color:#fff;
	margin-top: 0;
	padding-bottom: 0;
	-webkit-font-smoothing: antialiased;
}
.catHeroContent p {
	font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    line-height: 1.7em;
    -webkit-font-smoothing: antialiased;
}

body.post-type-archive-product ul.products,
body.tax-product_cat ul.products{
	margin-left: 300px;
	padding-top: 20px;
}
body.post-type-archive-product ul.products li.product,
body.tax-product_cat ul.products li.product{
	margin: 0;
	width: 33.3%;
	padding: 40px 60px 60px;
	background-color: rgba(242, 239, 236, 0.35);
	border: 3px solid #fff;
}
body.post-type-archive-product ul.products li.product h3,
body.tax-product_cat ul.products li.product h3 {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 0.02em;
    color:#231f20;
    padding-bottom: 0;
}

body.post-type-archive-product a.button.product_type_variable.add_to_cart_button,
body.tax-product_cat a.button.product_type_variable.add_to_cart_button,
body.post-type-archive-product a.button.product_type_simple.ajax_add_to_cart,
body.tax-product_cat a.button.product_type_simple.ajax_add_to_cart,
body.post-type-archive-product a.button.product_type_variable,
body.tax-product_cat a.button.product_type_variable{
	font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Proxima Nova';
    font-weight: bold;
    color: #5f4067;
    background-color: transparent;
    padding: 0;
    margin-top: 0;
}
.product_contain {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.sidebarFilter {
	background-color: #f2efec;
	width: 220px;
	height: auto;
	position: abs;
	z-index: 101;
	top:122px;
	left: 20px;

}
div#stickem-sticky-wrapper {
	width: 221px;
	left: 20px;
	top: 24px;
	position: absolute;
}
.sidebarFilter#sticker {
	display: none;
}
#sticker-sticky-wrapper {
	display: none;
}
.sidebarFilterBorder {
	height: 40px;
	background-size: cover;
	background-position: center center;
	width: 100%;
}
.sidebarFilterWrapper {
	padding:5px 20px 10px;
}
.sidebarFilter h4 {
	background-color: #453048;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 0;
    border-radius: 2px;	
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Proxima Nova';
    font-weight: bold;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    margin-top: 5px;
    margin-bottom: 10px;
}
.sidebarFilter a {
	font-size: 14px;
}
.sidebarFilter h4:hover {
	cursor: pointer;
}

.sidebarFilter ul li a {
	font-family: 'Proxima Nova';
    font-size: 12.5px;
    color:#000;
}
.sidebarFilter ul li {
	overflow: hidden;
	line-height: 16px;
}
small.count {
	float: right;
	font-family: 'Proxima Nova';
    font-size: 12px;
    color:#000;
}
body.post-type-archive-product span.count,
body.tax-product_cat span.count {
		float: right;
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 12px;
    color:rgba(53, 52, 46, 0.6);
}
.woocommerce .widget_layered_nav ul li.chosen a:before, .woocommerce .widget_layered_nav_filters ul li a:before {
	color:#453048 !important;
}

body.post-type-archive-product li#woocommerce_product_categories-2,
body.tax-product_cat li#woocommerce_product_categories-2{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom:1px solid rgba(53, 52, 46, 0.35);
}
body.post-type-archive-product li#yith-woo-ajax-navigation-2,
body.tax-product_cat li#yith-woo-ajax-navigation-2 {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom:1px solid rgba(53, 52, 46, 0.35);
}
body.post-type-archive-product li#yith-woo-ajax-navigation-3,
body.tax-product_cat li#yith-woo-ajax-navigation-3 {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom:1px solid rgba(53, 52, 46, 0.35);
}
li#yith-woo-ajax-reset-navigation-3 {
	text-align: center;
}
a.yith-wcan-reset-navigation.button {
	background-color: #453048 !important;
    font-size: 9px !important;
    text-transform: uppercase !important;
    letter-spacing: 2.5px !important;
    text-align: center !important;
    border: 0 !important;
    border-radius: 2px !important;
    width: 146px !important;
    height: 26px !important;
    font-family: 'Proxima Nova' !important;
    font-weight: normal !important;
    color: #fff !important;
    padding: 9px 14px !important;
    margin: 40px auto 0 !important;
}

/*GALLERY*/
span.a2a_svg.a2a_s__default.a2a_s_facebook,
span.a2a_svg.a2a_s__default.a2a_s_twitter,
span.a2a_svg.a2a_s__default.a2a_s_pinterest {
	background-color: #453048 !important;
}
.gallerySection {
	width: 100%;
	padding-top: 97px;
	padding-left: 8px;
	padding-right: 8px;
}
.galleryHeader {
	width: calc(100% - 16px);
	margin: 0 auto;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	margin-bottom: 8px;
}

.galleryHeader h1 {
	font-family: 'Proxima Nova Th';
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 46px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

.galleryGrid .grid {
	overflow: hidden;
}

.social_share {
    top: 0;
    position: absolute;
    right: 0;
    width: 315px;
}


.masonry {
    padding: 0;
    -moz-column-gap: 0.75em;
    -webkit-column-gap: 0.75em;
    column-gap: 0.75em;
    font-size: .85em;
    background-color: #604267;
}

.item {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.item img {
	width: 100%;
}


@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1350px) {
    .masonry {
        -moz-column-count: 6;
        -webkit-column-count: 6;
        column-count: 6;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(95, 64, 103, 0.55);
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: #fff;
    display: none;
    padding-top: 20%;
}
.overlay .description {
    position: absolute;
    left: 0;
    background-color: transparent;
    width: 100%;
    margin: 0;
    height: 100%;
    text-align: center;
}

.overlay .description p {
    margin: 0 auto;
    	background-color: rgba(255, 255, 255, 0.25);
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    border: 0;
    border-radius: 2px;
    width: 80px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    color: #fff;
    outline: 0;
    padding-top: 10px;
    padding-bottom: 10px !important;
    line-height: 1em;
    text-align: center;
}

.overlay .description p:hover {
	background-color: rgba(255, 255, 255, 0.75);
	color:#604267;
}

.overlay h3 {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    letter-spacing: 0.5px;
    font-size: 30px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    padding-bottom: 0;
}

.item:hover .overlay {
    display: block;
}
#lg-counter {
	color:#fff !important;
}
.lg-toolbar.group {
	background-color: #36253b !important;
}
.lg-backdrop {
	background-color: rgba(96, 66, 103, 0.7) !important;
}
.lg-outer .lg-img-wrap {
	padding: 0 !important;
}
/*
.lg-outer .lg-img-wrap {
	width: auto !important;
	height: 400px !important;
	margin: auto !important;
}
img.lg-object.lg-image {
	background: #604267;
	padding:10px;
}
*/
/*WHERE TO BUY*/
	.retailerSection {
		padding-top: 20px;
		padding-bottom: 10px;
		position: absolute;
		z-index: 99;
		top:150px;
		left: 30px;
		background-color: rgba(255, 255, 255, 0.85);
		border-radius: 10px;
		width: 420px;
	}
	.retailerSectionWrapper {
		width: 98%;
		margin: 0 auto;
		text-align: center;
	}
	.retailerSection h1 {
		font-family: 'Proxima Nova Th';
	    font-weight: 100;
	    letter-spacing: 1.5px;
	    font-size: 54px;
	    color: #453048;
	    -webkit-font-smoothing: antialiased;
	    padding-bottom: 5px;
	}
	form.retailerForm {
		padding: 15px 15px 0;
	}
	form.retailerForm input,
	form.retailerForm select {
		border:1px solid rgba(147, 145, 142, 0.7);
		border-radius: 0;
		padding: 0 10px !important;
	    font-family: 'Proxima Nova';
	    font-weight: 600;
	    font-size: 11px;
	    height: 28px;
	    text-transform: uppercase;
	    color: rgba(147, 145, 142, 0.7);
	}
	form.retailerForm button {
		background-color: #b2a3b2;
	    font-size: 9px;
	    text-transform: uppercase;
	    letter-spacing: 2.5px;
	    border: 0;
	    border-radius: 2px;
	    height: 28px;
	    font-family: 'Proxima Nova';
	    font-weight: normal;
	    color: #fff;
	    padding: 0 !important;
	    line-height: 1em !important;
	}
	.retailerSection p.text-center {
		font-family: 'Proxima Nova Th';
	    font-weight: 100;
	    letter-spacing: 1.5px;
	    font-size: 26px;
	    -webkit-font-smoothing: antialiased;
	    padding-bottom: 15px !important;
	    border-bottom: 2px solid #453048;
	    width: 95%;
	    margin: 0 auto;
	}
	.retailerSection p.text-center a {
		color:rgba(31, 25, 26, 0.5);
	}
	.retailerResults {
		margin-top: 5px;
		padding: 15px 10px 15px 30px;
		height: 400px;
		overflow: scroll;
		text-align: left;
		width: 97%;
	}
	.retailerResults h4 {
		font-family: 'Proxima Nova Th';
	    font-weight: 100;
	    letter-spacing: 0.5px;
	    font-size: 19px;
	    color: #231f20;
	    padding-bottom: 10px;
	}
	.retailerResults ul li {
		overflow: hidden;
		padding-bottom: 5px;
		margin-bottom: 15px;
		border-bottom: 1px solid rgba(35, 31, 32, 0.5);
	}
	.retailerResults ul li span {
	    font-size: 9px;
	    text-transform: uppercase;
	    letter-spacing: 2.5px;
	    font-family: 'Proxima Nova';
	    font-weight: normal;
	    color: #93918e;
	    line-height: 2.5em;
	    padding-bottom: 8px !important;
	    width: 65px;
	   	float: left;
	   	clear: left;
	}
	.retailerResults ul li p {
		font-family: 'Proxima Nova';
	    font-weight: normal;
	    font-size: 13px;
	    letter-spacing: 0.5px;
	    color:#231f20;
	    text-transform: none;
	    -webkit-font-smoothing: antialiased;
	    float: left;
	    line-height: 1.5em;
	    padding-bottom:0;
	    margin-bottom: 0;

	}
	.retailerResults ul li p span a {
		color: #453048;
		line-height: 1.5em;
	}
	.retailerResults ul li a button {
		background-color: #b2a3b2;
	    font-size: 8px;
	    text-transform: uppercase;
	    letter-spacing: 2.5px;
	    border: 0;
	    border-radius: 2px;
	    width: 135px !important;
	    padding: 0 !important;
	    line-height: 1em !important;
	    height: 26px;
	    font-family: 'Proxima Nova';
	    font-weight: normal;
	    color: #fff;
	    float: right;
	    margin-top: 15px;
	}
	.mapSection {
		padding-top: 106px;
		padding-bottom: 0;
	}
	.gmnoprint {
		display: none !important;
	}
	#map_wrapper {
		height: 720px;
	}

/*BROWSE ONLINE RETAILERS*/
.retailerGrid {
	width: 100%;
	margin-bottom: 200px;
}
.retailerGridWrapper {
	width: 970px;
	margin: 0 auto;
	overflow: hidden;
}
.retailerGridLeft,
.retailerGridRight {
	float:left;
	width:50%;
}
.retailerGridRight  {
	text-align: right;
}
.retailerGridLeft p,
.retailerGridRight p {
	font-family: 'Proxima Nova Th';
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: #231f20;
    padding-bottom: 0;
    margin-bottom: 20px;
}
.retailerGridRight p {
	text-align: right;
}
.retailerGridLeft p strong {
	font-family: 'Proxima Nova';
	font-weight: bold;
}
.retailerGridLeft h6 {
	padding-bottom: 0;
	font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Proxima Nova';
    font-weight: bold;
   
}
.retailerGridRight h6 a {
	 color: #5f4067;
}
.retailerGrid ul {
	width: 100%;
	border-bottom: 1px solid rgba(35, 31, 32, 0.15);
	overflow: hidden;
}
.retailerGrid ul li {
	float: left;
	width: 33.3%;
	padding: 35px 10px 15px 20px;
	border-top:1px solid rgba(35, 31, 32, 0.15);
	border-right:1px solid rgba(35, 31, 32, 0.15);
}
.retailerGrid ul li:nth-child(3n) {
	border-right:0;
}
.retailerGrid ul li h3 {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 19px;
    color: #231f20;
    padding-bottom: 0;
}
.retailerGrid ul li p {
	font-family: 'Proxima Nova';
    font-weight: normal;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: rgba(35, 31, 32, 0.6);
    line-height: 1.8em;
}
.retailerGrid ul li h4 {
	font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Proxima Nova';
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    padding-top: 8px;
}
.retailerGrid ul li h4 a {
	color:#af9fb3;
}

/*FOOTER */

footer {
	background-color: #a493a5;
	position: relative;
	z-index: 100;
}
.footerWrapper {
	width: 95%;
	margin: 0 auto;
	padding-bottom: 60px;
}
.footerLogo {
	text-align: center;
	padding-top: 30px;
	text-align: center;
	overflow: hidden;
}
.footerLogo div {
	display: inline-block;
	vertical-align: middle;
	padding: 30px;
}
.footerLogo div:first-child {
	border-right:2px solid #fff;
}
.footerLogo img.logo {
	width: 180px;
	margin: 0 auto;
}
.footerLogo img.owned {
		width: 180px;
	margin: 0 auto;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.footerLogo img.owned:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.footerLinks {
	padding-top: 50px;
	text-align: center;
	width: 90%;
	margin: 0 auto;
	overflow: hidden
}
.footerLinks > div {
	width: 33.3%;
	float: left;
}
.footerLinks ul {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
.footerLinks ul li {
	text-align: left;
	font-family: 'Proxima Nova'; 
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	color:#fff;
	line-height: 2.5em;
}
.footerLinks ul li a {
	color:#fff;
}
.footerLinks ul h6 {
	font-family: 'Proxima Nova'; 
	font-weight: bold;
	color:#5f4067;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: left;
	margin-bottom: 0;
	padding-bottom: 10px;
}
.footerLinkContact li a button {
	background-color:rgba(255, 255, 255, 0.15);
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	border: 0;
	border-radius: 2px;
	width: 130px;
	height: 26px;
	font-family: 'Proxima Nova'; 
	font-weight: normal;
	color:#fff;
	margin-top: 8px;
	outline: 0;
}
.footerLinkContact li a button:hover {
	cursor: pointer;
}

.footerLinkContact li.contactBtn a button {
	background-color:#453048;
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	text-align: center;
	border: 0;
	border-radius: 2px;
	width: 130px;
	height: 26px;
	font-family: 'Proxima Nova'; 
	font-weight: normal;
	color:#fff;
	padding: 9px 14px;
	margin-top: 8px;
}
.footer_props img {
	width: 160px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.footer_props img:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

/*MOBILE*/
@media screen and (min-width:1440px) {
	.homeHero {
		height: 900px;
		background-position:center;
	}
	.productHero {
		height: 400px;
		background-position: center;
	}
}
@media screen and (max-width:970px){

	/*MOBILE MENU*/
	#search-box {
		display: none;
	}

	.sf-menu {
		background-color: #5f4067 !important;
	}
	.sf-menu li {
		margin-right: 0;
	}
	.sf-menu li#menu-item-45 {
		background-color: transparent;
		box-shadow: none;
		font-size: 13px;
		width: auto;
		height: auto;
	}

	/*HOMES PAGE*/
	.homeHero {
		height: 420px;
	}
	.homeHeroContent {
		padding-top: 110px;
	}
	.homeHeroContent h1 {
		font-size: 84px;
	}
	.homeHeroContent h4 {
		font-size: 26px;
	}

	.homeSectionOneRight {
		float: none;
		width: 100%;
		padding: 30px;
	}
	.homeSectionOneRightText {
		width: 100%;
	}
	.homeSectionOneRight {
		float: none;
		width: 100%;
	}
	.homeSectionTwoLeft {
		float: none;
		width: 100%;
		padding: 60px 10px;
	}
	.homeSectionTwoLeftText {
		width: 90%;
	}
	.newsletterSection {
		height: 160px;
	}
	.newsletterSectionWrapper {
		width: 100%;
		padding-top: 15px;
	}
	.midHero {
		height: 460px;
	}
	.midHeroContent {
		padding-top: 40px;
	}

	.midHeroContent h1 {
		font-size: 84px;
	}

	.sectionShowcaseContainer {
		width: 100%;
	}
	.sectionShowcaseHeader {
		width: 90%;
	}
	.sectionShowcaseHeader h2 {
		font-size: 44px;
		margin-bottom: 30px;
	}
	.sectionShowcaseContent .topSection {
		background-size: 100%;
		background-position: bottom center;
	}
	.sectionShowcaseContent .bottomSection  {
		background-size: 100%;
		background-position: top center;
	}
	.sectionShowcaseContent .topSectionLeft,
	.sectionShowcaseContent .bottomSectionRight {
		padding: 40px;
		border-top-left-radius:0;
		border-bottom-right-radius:0;
	}
	.sectionShowcaseContent .topSection div, .sectionShowcaseContent .bottomSection div {
		float: none;
		width: 100%;
	}
	.sectionShowcaseContent .topSection  .topSectionRight {
		height: 300px;
	}
	.sectionShowcaseContent .bottomSection .bottomSectionLeft {
		height: 300px
	}
	.topSectionRightBorder {
		display: none;
	}
	.retailerIcons {
		width: 90%;
	}
	.showcaseRetailers {
		margin-top: 20px;
	}

	.aboutHeroContent {
		margin-top: 15px;
		width: 95%;
	}
	.aboutHeroContentWrapper {
		width: 100%;
		padding-top: 20px;
	}
	.aboutHeroContent h1 {
		font-size: 30px;
	}
	  .aboutHeroContent p {
	    font-size: 15px;
	  }
	.lifestyleSection {
		padding-top: 0;
		background: none;
	}
	.exploreInstagram {
		float: none;
		width: 100%;
	}
	.exploreInstagramWrapper {
		padding: 20px;
		padding-top: 100px;
		width: 100%;
	}
	.exploreInstagramHeader h2 {
		font-size: 30px;
	}
	.gridThree > div {
		float: none;
		width: 100%;
	}
	.faqGridWrapper {
		padding: 15px;
		padding-top: 30px;
	}
	.faqGridHeader {
		width: 100%;
	}
	.faqGridHeader h2 {
		font-size: 24px;
	}
	.faqGridContainer {
		padding-top: 25px;
	}
	.faqGridTable {
		margin-left: 0;
		float: none;
		width: 95%;
		margin: 0 auto;
	}
	.faqGridContent {
		float: none;
		width: 95%;
		margin:0 auto;
		padding-top: 20px;
	}

	/*WHERE TO BUY*/

	.retailerSection {
		width: 97%;
		position: relative;
		top:110px;
		left: 0;
		margin: 0 auto;
	}
	.retailerResults {
		padding: 15px;
	}
	#map_wrapper {
		height: 450px;
	}

	/*CONTACT*/
	.contactHeroContent {
		width: 100%;
	}
	.contactForm {
		padding: 20px;
		width: 100%;
	}

	.contactForm iframe {
		width: 100% !important;
	} 

	/*CATEGORY PAGE*/
	.sidebarFilter {
		display: none;
	}
	#sticker-sticky-wrapper {
	display: block;
}
	/*MOBILE SIDEBAR FILTER*/
.sidebarFilter#sticker {
	display: block !important;
	position: relative;
	top:0;
	width: 100%;
	left: 0;
	height: auto;
	z-index: 99 !important;
}
.sidebarFilter#sticker .sidebarFilterBorder {
	display: none;
}

body.post-type-archive-product .sidebarFilter#sticker li#yith-woo-ajax-navigation-7, body.tax-product_category .sidebarFilter#sticker li#yith-woo-ajax-navigation-7,
body.post-type-archive-product .sidebarFilter#sticker li#yith-woo-ajax-navigation-8, body.tax-product_category .sidebarFilter#sticker li#yith-woo-ajax-navigation-8,
body.post-type-archive-product .sidebarFilter#sticker li#yith-woo-ajax-navigation-9, body.tax-product_category .sidebarFilter#sticker li#yith-woo-ajax-navigation-9,
body.post-type-archive-product .sidebarFilter#sticker li#yith-woo-ajax-navigation-10, body.tax-product_category .sidebarFilter#sticker li#yith-woo-ajax-navigation-10 {
	border-bottom: 0;
	margin-bottom: 10px;
}
.sidebarFilter#sticker .yith-wcan-list li {
	display: none;
}
.sidebarFilter#sticker .yith-wcan-list li.chosen {
	display: block !important;
}
	.catHero {
		height: 420px;
	}
	.catHeroContent {
		width: 90%;
		margin-left: auto;
		padding-top: 30px;
	}
	.catHeroContent h2 {
		font-size: 30px;
	}
	.catHeroContent h1 {
		font-size: 64px;
	}
	body.post-type-archive-product ul.products,
	body.tax-product_category ul.products {
		width: 100%;
		margin-left: auto;
		padding-top: 0;
	}


	/*PRODUCT PAGE */

	.productHero {
		height: 215px;
	}
	.productContainer {
		width: 95%;
	}
	body.single-product .woocommerce-breadcrumb {
		top:125px;
	}
	body.single-product div.images {
		width: 100% !important;
		height: 350px;
	}
	body.single-product .single-product-main-image img {
		padding: 25px !important;
	}
	body.single-product div.summary {
		width: 100% !important;
		height: 570px;
	}

	/*RETAILERS*/
	.retailerGridWrapper {
		width: 95%;
	}
	.retailerGrid ul li {
		float: none;
		width: 100%;
		border-right: 0;
	}

	/*GALLERY*/
	.gallerySection {
		padding-top: 97px;
	}


	/*FOOTER*/
	.footerWrapper {
		width: 100%;
		padding-bottom: 0;
	}
	.footerLinks {
		width: 100%;
		padding-top: 30px;
	}
	.footerLinks > div {
		width: 100%;
		margin-bottom: 40px;
	}
	.footerLinks ul h6 {
		text-align: center;
		font-size: 12px;
	}
	.footerLinks ul li {
		text-align: center;
	}
	.footerLogo img.logo {
		width: 200px;
	}
}


/*CATEGORY PAGE*/
body.post-type-archive-product nav.woocommerce-breadcrumb,
body.tax-product_category nav.woocommerce-breadcrumb {
	display: none;
}
body.post-type-archive-product form.woocommerce-ordering,
body.tax-product_category form.woocommerce-ordering {
	display: none;
}
body.post-type-archive-product h1.page-title,
body.tax-product_category h1.page-title{
	display: none;
}
body.post-type-archive-product .woocommerce-result-count,
body.tax-product_category .woocommerce-result-count{
	display: none;
}
body.post-type-archive-product div#sidebar,
body.tax-product_category div#sidebar{
	display: none;
}
body.tax-product_category ul.products {
	margin-left: 300px;
    padding-top: 20px;
}

body.post-type-archive-product ul.products,
body.tax-product_category ul.products{
	margin-left: 300px;
	padding-top: 20px;
	margin-bottom: 100px;
}
body.post-type-archive-product ul.products li.product,
body.tax-product_category ul.products li.product{
	margin: 0;
	width: 25%;
	padding: 40px 60px 60px;
	background-color: rgba(242, 239, 236, 0.35);
	border: 3px solid #fff;
	height: 304px;
	text-align: center;
}
body.post-type-archive-product ul.products li.product h3,
body.tax-product_category ul.products li.product h3 {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 0.02em;
    color:#231f20;
    padding-bottom: 0;
    position: absolute;
    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 40px;
}
.woocommerce ul.products li.product .button {
	position: absolute;
	bottom: 15px;
	display: block;
	    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
a.button.product_type_simple.ajax_add_to_cart {

}
body.post-type-archive-product span.count,
body.tax-product_category span.count {
		float: right;
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 12px;
    color:rgba(53, 52, 46, 0.6);
}
.woocommerce .widget_layered_nav ul li.chosen a:before, .woocommerce .widget_layered_nav_filters ul li a:before {
	color:#453048 !important;
}
 

body.post-type-archive-product a.button.product_type_variable.add_to_cart_button,
body.tax-product_category a.button.product_type_variable.add_to_cart_button,
body.tax-product_category a.button.product_type_variable,
body.tax-product_category a.button.product_type_simple.ajax_add_to_cart {
	font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Proxima Nova';
    font-weight: bold;
    color: #5f4067;
    background-color: transparent;
    padding: 0;
    margin-top: 0;
}


.productBlock {
	float: left;
	width: 33.3%;
	padding: 40px 40px 40px;
    background-color: rgba(242, 239, 236, 0.35);
    border: 3px solid #fff;
    height: 300px;
}
.productBlock img {
	height: 109px;
}
.productBlock h3 {
	    font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 0.02em;
    color: #231f20;
    padding-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 50px;
}
.productBlock p {
	font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Proxima Nova';
    font-weight: bold;
    color: #5f4067;
    background-color: transparent;
    padding: 0;
    position: absolute;
    bottom: 10px;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/*PRODUCT DETAIL PAGE*/
body.single-product .woocommerce-breadcrumb {
	padding-left: 10px;
	padding-bottom: 10px;
	font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-family: 'Proxima Nova';
    font-weight: normal;
    color: #fff;
}
#product .images a.fancybox img,
#product .images a.unfancybox img {
	vertical-align: middle;
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 0;
    padding: 45px;	
    height: auto;
}
#product .info p {
	display: none;
}
#product .owl-carousel {
	width: 80%;
}
#product .owl-prev, #product .owl-next {
	top: 63px;
}
body.single-product div.images {
	margin-right: 1.5%;
	background-color: #fff;
	height: 670px;
	padding-bottom: 25px;
	border-radius: 10px;
	width: 56% !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
} 
#product .images a.fancybox,
#product .images a.unfancybox {
	display: block;
	min-height: 425px;
   line-height: 425px;	
}

#product .images a.thumb img {
	height: auto;
}

#product .details
{
	width: 42%;
	float: left;
	background-color: #fff;
    height: 670px;
    border-radius: 10px;
    padding: 10px 35px 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

#product .details h1 {
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	letter-spacing: 0.75px;
	font-size:33px;
	color:#231f20;
	-webkit-font-smoothing: antialiased;
	padding-bottom: 0;
}
.product_share {
	margin-bottom: 5px;
    margin-top: 5px;
}
.request_info {

}
#product .details p {
	font-family: 'Proxima Nova';
    font-weight: normal !important;
    font-size: 14px;
    color: #272425;
    line-height: 1.25em;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 15px;
}
body.single-product form.variations_form.cart {
	margin-top: 20px;
	margin-bottom: 10px !important;
}
#product .options .label {
	font-family: 'Proxima Nova';
    font-weight: bold;
    color: rgba(145, 144, 141, 0.7);
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    line-height: 1em;
}

body.single-product div.product form.cart .variations td.value {
	display: block;
}
.select-box {
	border: 1px solid rgba(145, 144, 141, 0.4);
	border-radius: 0;
	font-family: 'Proxima Nova';
    font-weight: normal;
    color: rgba(145, 144, 141, 0.8);
    font-size: 11px;
    height: 25px;
    margin-bottom:13px;
    letter-spacing: 0.01em;
    padding-top: 6px;
    background-color: #F8F8F8;
}
.select-box .active {
	line-height: 1em;
}
body.single-product input.input-text.qty.text {
	border: 1px solid rgba(145, 144, 141, 0.4);
	border-radius: 0;
	font-family: 'Proxima Nova';
    font-weight: normal;
    color: rgba(145, 144, 141, 0.8);
    font-size: 11px;
    height: 25px;
    margin-bottom:13px;
    letter-spacing: 0.01em;
}
body.single-product table.mailbox-specifications tr {
	height: 20px;
}
body.single-product table.mailbox-specifications tr:last-child {
	display: none;
}
body.single-product table.mailbox-specifications tr > td {
	font-family: 'Proxima Nova';
    font-weight: bold;
    color: rgba(145, 144, 141, 0.7);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 0.2em;
}
body.single-product table.mailbox-specifications tr > td:last-child {
	font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 11px;
    color: #272425;
    letter-spacing: 1px;
}

body.single-product .up-sells.upsells.products h2 {
    font-family: 'Proxima Nova Th';
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 40px;
    color: #594466;
    -webkit-font-smoothing: antialiased;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

body.single-product ul.products li.product {
	margin: 0;
    width: 33.3%;
    padding: 40px 60px 60px;
    background-color: rgba(242, 239, 236, 0.35);
    border: 3px solid #fff;
}
body.single-product ul.products li.product img {
	width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
}
body.single-product ul.products li.product h3 {
	font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 0.02em;
    color: #231f20;
    padding-bottom: 0;
}
body.single-product ul.products li.product a.button.product_type_variable.add_to_cart_button {
	font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Proxima Nova';
    font-weight: bold;
    color: #5f4067;
    background-color: transparent;
    padding: 0;
}
body.single-product button.single_add_to_cart_button.button.alt {
	background-color: #453048;
	font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 26px;
    font-family: 'Proxima Nova';
    font-weight: bold;
    color: #fff;
    -webkit-font-smoothing:antialiased;
}
body.single-product button.single_add_to_cart_button.button.alt:hover {
	cursor: pointer;
}
body.single-product h2.main-title
{
	    font-family: 'Proxima Nova Th';
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 40px;
    color: #594466;
    -webkit-font-smoothing: antialiased;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
body.single-product .products-entries {
	margin-left: 0;
}
body.single-product .productBlock {
	width: 25%;
	position: relative;
	text-align: center;
}
body.single-product .productBlock img {
	height: auto;
	width: 50%;
}
	body.single-product div.images {
		text-align: center;
	}
	#product .owl-carousel {
		margin: 0 auto;
	}


@media screen and (max-width: 74.938em) {
	body.post-type-archive-product ul.products li.product, body.tax-product_category ul.products li.product {
		padding: 20px 30px 30px;
	}
			.sf-menu li#menu-item-45 {
		background-color: transparent;
		box-shadow: none;
		font-size: 13px;
		width: auto;
		height: auto;
	}
	.sf-menu {
		width: auto;
		background-color: #5f4067;
	}
}
@media screen and (max-width:1350px) {
	body.post-type-archive-product ul.products li.product, body.tax-product_category ul.products li.product {
		padding: 40px 30px 30px;
	}
}

@media screen and (max-width:970px) {
	.sf-menu {
		width: auto;
		left:-196px;
	}
	body.post-type-archive-product ul.products, body.tax-product_category ul.products {
		margin-left: 0;
		clear: none;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product {
		clear: none !important;
	}
}
@media screen and (max-width: 970px) {
	.woocommerce ul.products li.product_cat-knobs a img {
		width:45% !important;
		margin: 0 auto !important;
	}
	.woocommerce ul.products  li.product_cat-pulls a img {
		width:65% !important;
		margin: 0 auto !important;
	}
	#product .details, #product .images {
		margin: 0 auto 10px;
		width: 70% !important;
	}
	#product .details {
		float: none;
		width: 95%;
		margin-top: 30px;
	}
		body.single-product .productBlock {
		width: 50%;
	}
	#product .images a.fancybox img,
	#product .images a.unfancybox img {
		width: 50%;
	}
	.menu {
		display: none;
	}
	body.post-type-archive-product ul.products li.product, body.tax-product_category ul.products li.product {
		width: 33.3% !important;
		height: 250px !important;
	}
}
@media screen and (max-width: 670px) {
	body.post-type-archive-product ul.products li.product, body.tax-product_category ul.products li.product {
		width: 50% !important;
		height: 320px !important;
	}
	.woocommerce ul.products li.product a img {
		width: 60% !important;
		margin: 0 auto !important;
	}
	.catHeroContent h1 {
		font-size: 40px;
	}
	#product .details, #product .images {
		margin: 0 auto;
		width: 99% !important;
	}
	body.single-product .productBlock {
		width: 100%;
	}
	body.single-product .productBlock img {
		width: 25%;
	}
}
@media screen and (max-width: 540px) {
	body.post-type-archive-product ul.products li.product, body.tax-product_category ul.products li.product {
		width: 100% !important;
		height: 300px !important;
	}
	.woocommerce ul.products li.product a img {
		width: 45% !important;
		margin: 0 auto !important;
	}
	#product .images a.fancybox img,
	#product .images a.unfancybox img {
		width: 100%;
	}
	body.single-product .productBlock img {
		height: auto;
	}
	body.single-product .productBlock img {
		width: 40%;
	}
		.catHero {
		height: 450px;
	}
	.catHeroContent p {
		font-size: 16px;
		margin-top: 30px;
	}
}

@media screen and (min-width: 970px) {

#product .images a.fancybox img,
#product .images a.unfancybox img {
	width: 50%;
}
	.woocommerce ul.products li.product_cat-knobs a img{
		width:75% !important;
		margin: 0 auto !important;
	}
	.woocommerce ul.products li.product_cat-pulls a img {
		width: 100% !important;
		margin: 0 auto !important;
	}

}

@media screen and (min-width: 1350px) {
	#product .images a.fancybox img,
	#product .images a.unfancybox img {
		width: 65%;
		max-width: 420px;
        max-height: 475px;
    margin-top: 15px;
	}
	#product .images a.fancybox img,
	#product .images a.unfancybox img {
		padding-top: 0;
	}
	.woocommerce ul.products li.product_cat-knobs a img{
		width:70% !important;
		margin: 0 auto !important;
	}
	.woocommerce ul.products li.product_cat-pulls a img {
		width: 100% !important;
		margin: 0 auto !important;
	}

}
@media screen and (min-width: 1620px) {
	.woocommerce ul.products li.product_cat-knobs a img {
		width:60% !important;
	}
	.woocommerce ul.products  li.product_cat-pulls a img {
		width: 80% !important;
	}
}
@media screen and (min-width: 1800px) {
	.woocommerce ul.products li.product_cat-knobs a img {
		width:50% !important;
	}
	.woocommerce ul.products li.product_cat-pulls a img {
		width: 70% !important;
	}
}


