@charset "utf-8";

/* CSS Document */

/* 	--------------------------------------------------------------------------------------------------
 																							 x>= 1440px
	-------------------------------------------------------------------------------------------------- */
@media screen and (min-width:90em)
{
.container
{
					width: 1280px;
}
}

/* 	--------------------------------------------------------------------------------------------------
 																							 x>= 1439px
	-------------------------------------------------------------------------------------------------- */
@media screen and (max-width:89.938em)
{
.container
{
					width: 1140px;
}

#product .owl-carousel
{
					width: 420px;
					margin: auto;
}
}
/* 	--------------------------------------------------------------------------------------------------
 																							1200px < x
	-------------------------------------------------------------------------------------------------- */
@media screen and (max-width:74.938em)
{
.container
{
					width: 98%;
}

#product .options .col:nth-child(3) {
    float: left;
    margin-right: 15px;
    width: 100%;
}
#site-menu
{
					position: relative;
					width: 100%;
					text-align: center;
}

#icon-Menu 
{ 
					position: relative;
					display: block; 
					width: 48px;
					height: 48px;
					border: 1px solid #5e2c6c;
					float: right;
}

#icon-Menu span, 
#icon-Menu span:before, 
#icon-Menu span:after 
{
				  position: absolute;
				  top: 22px;
				  left: 8px;
				  cursor: pointer;
				  height: 3px;
				  width: 30px;
				  background: #5e2c6c;
				  display: block;
				  content: '';
}

#icon-Menu span:before 
{
				  top: -9px; 
				  left: 0;
}

#icon-Menu span:after
{
				  bottom: -9px; 
				  top: auto;
				  left: 0;
}

#icon-Menu span, 
#icon-Menu span:before, 
#icon-Menu span:after 
{
					-webkit-transition: all 0.5s ease-in-out;
					   -moz-transition: all 0.5s ease-in-out;
					     -o-transition: all 0.5s ease-in-out;
					        transition: all 0.5s ease-in-out;
}

#icon-Menu.active span 
{
  					background-color: transparent;
}

#icon-Menu.active span:before, 
#icon-Menu.active span:after 
{
  					top: 0;
}

#icon-Menu.active span:before 
{
					-webkit-transform: rotate(45deg);
					   -moz-transform: rotate(45deg);
					   	-ms-transform: rotate(45deg);
						 -o-transform: rotate(45deg);
						    transform: rotate(45deg);
}

#icon-Menu.active span:after 
{
					-webkit-transform: rotate(-45deg);
					   -moz-transform: rotate(-45deg);
					   	-ms-transform: rotate(-45deg);
						 -o-transform: rotate(-45deg);
						    transform: rotate(-45deg);
}

.sf-menu 
{
					position: absolute;
					left: -96px;
					right: 0;
					top: 100%;
					display: none;
					background-color: rgba(94,44,108,0.97);
					padding: 24px 0;
  					-webkit-box-shadow: 0 6px 6px rgba(0,0,0,.2);
					   -moz-box-shadow: 0 6px 6px rgba(0,0,0,.2);
  							box-shadow: 0 6px 6px rgba(0,0,0,.2);
}

.sf-menu li 
{
					display: block;
					margin-left: 0;
}

.sf-menu ul 
{
					position: static;
					top: 100%;
					padding: 12px;
					margin-left: 24px;
					background-color: rgba(0,0,0,0.2);
					text-align: right;
  					-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.1);
					   -moz-box-shadow: 0 3px 3px rgba(0,0,0,.1);
  							box-shadow: 0 3px 3px rgba(0,0,0,.1);
}

#header .sf-menu a 
{
					width: 70%;
					margin: auto;
					text-align: center;
					padding-top: 12px;
					padding-bottom: 12px;
					color: #fff;
}

#header .sf-menu li.current a
{
					color: #fff;
}

#header .sf-menu a.submenu
{
					position: static;
}

.sf-menu a .plus
{
					position: absolute;
					right: 12px;
					top: 0;
					display: block;
					width: 36px;
					height: 36px;
					background: url(../images/icon-Plus-Menu.png) no-repeat center center;
}

#header .sf-menu li li a,
#header .sf-menu li.current li a
{
					width: 100%;
					text-align: center;
					color: #fff;
}

.sf-menu li.current a:before,
.sf-menu li a:hover:before,
.sf-menu li a:active:before
{
					display: none;
}

#nmSlider h2
{
					font-size: 36px;
					line-height: 44px;
}

#nmSlider p
{
					font-size: 14px;
					line-height: 18px;
}

a.prod-entry h3
{
					padding-left: 0;
					padding-right: 0;
}

#product .options .col
{
					display: block;
					width: 100%;
					padding-bottom: 0;
					padding-left: 0;
}

#product .options .label
{
					margin-bottom: 5px;
}

#product .owl-carousel
{
					width: 309px;
					margin: auto;
}

#product .owl-carousel img
{
					width: 96px;
}

#product .dimensions .label
{
					padding-right: 0;
}
}
/* 	--------------------------------------------------------------------------------------------------
 																							979px <=x
	-------------------------------------------------------------------------------------------------- */
@media screen and (max-width:61.188em)
{
#nmSlider a.default-btn
{
					padding: 12px 24px;
					margin-right: 6px;
					font-size: 14px;
					line-height: 18px;
}

a.prod-entry
{
					width: 33.3333%;
}

a.prod-entry:nth-child(4n+1)
{
					clear: none;
}

a.prod-entry:nth-child(3n+1)
{
					clear: both;
}

#product .details,
#product .images
{
					width: 100%;
					float: none
}

#product .images
{
					padding-bottom: 48px;
}

#product .owl-carousel
{
					width: 548px;
					margin: auto;
}

#product .owl-carousel img
{
					width: auto;
}

}
/* 	--------------------------------------------------------------------------------------------------
 																					 		 800px >=x
	-------------------------------------------------------------------------------------------------- */
@media screen and (max-width:50em)
{
body 
{
					font-size: 17px;
}

.contact .col,
.contact .col:first-child
{
					width: 100%;
					float: none;
}
}
/* 	--------------------------------------------------------------------------------------------------
 																					 		 767px >=x
	-------------------------------------------------------------------------------------------------- */
@media screen and (max-width:48em)
{
.sf-menu
{
					right: -36px;
					left: -108px;
}

#footer .col
{
					width: 100%;
					text-align: center;
}

#footer .col.middle
{
					width: 100%;
					background-color: transparent;
}

.social-media
{
					float: none
}

aside.section
{
					padding-top: 12px;
}
a.prod-entry{padding-top:60%;}
#nmSlider h2{font-size:29px;}

#nmSlider
{
					height: auto !important
}


#nmSlider .col,
#nmSlider .col.image
{
					display: block;
					width: 100%;
					padding: 0;
					text-align: center
}

#nmSlider .col.text
{
					height: auto !important
}

#nmSlider .col.image
{
					height: 192px !important;
					margin: 12px auto;
}

#nmSlider .image .nm-slide
{
					background-position: center center;
}

#nmSlider h2
{
					padding-bottom: 0px;
					font-size: 24px;
					line-height: 30px
}

#nmSlider p
{
					padding-bottom: 12px;
					padding-top:12px;
}

#nmSlider a.default-btn
{
					margin: 6px;
}
#nmSlider .image .nm-slide{background-position:center center;}

}
/* 	--------------------------------------------------------------------------------------------------
 																					 		 640px >=x
	-------------------------------------------------------------------------------------------------- */
@media screen and (max-width:40em)
{
body 
{
					font-size: 16px;
					line-height: 30px;
}

.ptop60px
{
					padding-top: 12px;
}


#header h1.logo
{
					width: 176px;
}

#search-box,
#search-box a.search
{
					width: 30px;
					text-indent: -9999em;
}

#search-form
{
					top: 13px;
					text-indent: 0;
}

#search-form input
{
					padding-right: 54px;
}

/*.nm-slide .container
{
					width: 80%;
}*/

#nmSlider
{
					height: auto !important
}
#nmSlider .container{padding-top:85px;}
#nmSlider .col,
#nmSlider .col.image
{
					display: block;
					width: 100%;
					padding: 0;
					text-align: center
}

#nmSlider .col.text
{
					height: auto !important
}

#nmSlider .col.image
{
					height: 192px !important;
					margin: 12px auto;
}

#nmSlider .image .nm-slide
{
					background-position: center center;
}

#nmSlider h2
{
					padding-bottom: 0px;
					font-size: 24px;
					line-height: 30px
}

#nmSlider p
{
					padding-bottom: 12px;
					padding-top:12px;
}

#nmSlider a.default-btn
{
					margin: 6px;
}

main[role="main"]
{
					padding-top: 96px
}

a.prod-entry
{
					width: 50%;
}

a.prod-entry:nth-child(2n+1)
{
					clear: both;
}

a.prod-entry:nth-child(3n+1)
{
					clear: none;
}

#product h1
{
					font-size: 36px;
}

#product .owl-carousel
{
					width: 302px;
}
#nmSlider .col.text{padding-right:0;}
}
/* 	--------------------------------------------------------------------------------------------------
 																					 		 550px >=x
	-------------------------------------------------------------------------------------------------- */
@media screen and (max-width:34.375em)
{
}
/* 	--------------------------------------------------------------------------------------------------
 																					 		 480px >=x
	-------------------------------------------------------------------------------------------------- */
@media screen and (max-width:30em)
{
body
{
					font-size: 14px;
}

.sf-menu
{
					left: -186px;
}

a.prod-entry
{
					width: 90%;
					margin: auto;
					float: none;
}

#product .owl-carousel
{
					width: 220px;
}

#product .owl-carousel img
{
					width: 96px;
}
a.prod-entry{padding-top:0; height:auto; overflow:visible;}
a.prod-entry img{position:static; -webkit-transform:none; -moz-transform:none; transform:none;}
}
/* 	--------------------------------------------------------------------------------------------------
 																					 		 360px >=x
	-------------------------------------------------------------------------------------------------- */
@media screen and (max-width:22.5em)
{
}