@charset "utf-8";

/* CSS Document */

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* -------------------------------------------> RESET <------------------------------------------- */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, b, i, ol, ul, li, form, label, input, textarea, article, aside, footer, header, menu, nav, section, figure
{ margin: 0; padding: 0; border: 0; font-size: 100.01%; font: inherit; vertical-align: baseline; }

article, aside, footer, header, nav, section { display: block; }

html { font-size: 16px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

a:focus { outline: 0; }

body { font: 400 18px/36px 'Merriweather', Georgia, "Times New Roman", Times, serif; color: #000; background-repeat: no-repeat; background-position: top center; -webkit-background-size: cover; -moz-background-size: cover; -ms-background-size: cover; -o-background-size: cover; background-size: cover; }

h1, h2, h3, h4, h5, h6 { font-weight: 700; line-height: 1.333em;  }

h1 { font-size: 36px; font-weight: 400;  padding-bottom: 36px; }

h2 { font-size: 24px;  padding-bottom: 36px; }

h3 { font-size: 18px;  padding-bottom: 24px; }

h4 { font-size: 16px;  padding-bottom: 24px; }

h5 { font-size: 14px;  padding-bottom: 24px; }

h6 { font-size: 12px;  padding-bottom: 24px; }

p { padding: 0 0 36px 0; }

ol, ul { padding: 0 0 36px 0; }

li { padding: 0 0 12px 0; margin-left: 24px; }

strong, b { font-weight: 700; }

em, i { font-style: italic; }

img { -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

a:link, a:visited { color: #5e2c6c; text-decoration: none; -webkit-transition: color 0.3s ease-out; -moz-transition: color 0.3s ease-out; -o-transition: color 0.3s ease-out; transition: color 0.3s ease-out; }

a:hover, a:active { color: #000; text-decoration: none; }

input, select { vertical-align: middle; }

textarea { overflow: auto; }

nav ul { list-style: none; padding: 0; margin: 0 }

nav ul li { margin-left: 0; padding-bottom: 0; }

hr { width: 100%; height: 1px; background-color: #dbdbdb; border: none; margin: 1.667em auto; }
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ------------------------------------------> end RESET <------------------------------------------ */
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */