/*April 2017 Updates*/


p, h2, h3, h4, h5 {
  font-weight: 600 !important;
}
.none {
  display: none !important;
}
.transparent {
  background:transparent !important;
}


/*HEADER*/
div.link_out {
    position: absolute;
    top: 0;
    right: -95px;
    width: 130px;
      padding: 5px;
        background-color: rgba(69, 48, 72, 1);
    box-shadow: 3px 5px 20px rgba(0,0,0,0.5);
      -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
div.link_out:hover {
  right: 0;

}

div.link_out img {
  margin: 0 auto;
  width: 100%;
}
.menu .menu__item a:hover {
  color :#000 !important;
}
.menu__item img.ig-social {
  width: 15px;
}

/*SHOP*/
/*STATIC MORE COLOR OPTIONS*/
body.color_ready ul.products li.has-default-attributes:before,
body.color_ready ul.products li.first:before{
background-image: url(/wp-content/themes/wisdom/pics/add.png);
content: attr(data-content);
font-family: 'Proxima Nova';
color: #000;
position: absolute;
top: 10px;
right: 10px;
margin:0 auto;
padding-left: 15px;
line-height: 1.1;
font-size: 13px;
letter-spacing: .02em;
overflow: visible;
text-align: center;
background-size: 11px 11px;
background-position: 0px 0px;
height: 14px;
background-repeat: no-repeat;
}


.share_product {
  padding-top: 5px;
  padding-bottom: 5px;
}


/*PRODUCT*/
body.single-product ul.products li.product {
    width: 25% !important;
    position: relative !important;
    text-align: center !important;
}

body.single-product ul.products li.product {
    float: left !important;
    padding: 40px 40px 40px !important;
    background-color: rgba(242, 239, 236, 0.35) !important;
    border: 3px solid #fff !important;
    height: 300px !important;
}

body.single-product ul.products li.product img {
    height: auto !important;
    width: 50% !important;
    margin: 0 auto !important; 
}

body.single-product ul.products li.product h3 {
    font-family: 'Proxima Nova Th';
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 0.02em;
    color: #231f20;
    padding-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 50px;
}


body.single-product ul.products li.product a.button {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Proxima Nova';
    font-weight: bold;
    color: #5f4067;
    background-color: transparent;
    padding: 0;
    position: absolute;
    bottom: 10px;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

body.single-product .related.products h2 {
  display: none;
}

    .drawings {
      overflow: hidden;
    }
    .drawings .thumbnails.columns-3 {
      overflow: hidden;
      margin-top: 0;
    }
    div.drawings div a.zoom img {
      width: 175px !important;
      float: left;
    }
    div.drawings div a.zoom img:hover {
      cursor:zoom-in;
    }

div#reset {
  margin-left: 10px;
}
div#reset p {
  font-family: 'Proxima Nova';
    font-weight: normal;
    font-size: 14px;
    color: #272425;
    line-height: 1.5em;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
div#reset p:hover {
  cursor: pointer;
}

/*GALLERY*/
.mySlides img.slideImage {
  border: 10px solid #fff;
  border-bottom-width: 37px;
} 
/* The Modal (background) */
.gallerySection .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 200px;
  margin-top: 100px;
  left: 0;
  top: -3px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.gallerySection #modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.numbertext {
  color: #000;
  font-size: 13px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  font-family: 'Proxima Nova';
}
/* Next & previous buttons */
a.prev,
a.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 30px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
a.prev:hover,
a.next:hover {
  color: #453048;
}

.mySlides .social_share {
  bottom: 5px;
  top:auto;
  text-align: right;
  padding-right: 6px;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
  display: none;
}

p#caption {
  display: none;
}


@media screen and (max-width: 1200px) {
  #header .container {
    width: 90%;
  }
  div.link_out {
      display: none;
  }
  .menu {
    display: none;
  }
  #search-form {
    display: none;
  }
          div.drawings div a.zoom img {
      width: 50% !important;
    } 
}


@media screen and (max-width: 970px) {
  body.single-product ul.products li.product {
      width: 100% !important;
    }

    .homeHeroContent {
      width: 90%;
      margin: 0 auto;
    }
}


@media screen and (max-width: 540px) {
  #mobile_hide {
    display: none;
  }
    #mobile_show {
    display: block !important;
  }
  .aboutHero {
    height: auto;
  }
  .aboutHeroContent li,
  .aboutHeroContent li.contactBtn {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 10px;
    width: 100%;
  }
  .exploreInstagramWrapper {
    padding-top: 50px;
  }
  .media-grid .media-list-item {
    width: 100% !important;
    float: none;
  }
  body.archive .catHeroContent {
    padding-top: 60px;
  }
  body.archive .catHeroContent p {
    display: none;
    line-height: 1.4em;
  }
  body.archive .textwidget p {
    display: block;
  }

  /*PRODUCT*/
  #product .options, #product .dimensions {
    padding-bottom: 0;
  }
  #product .options .col, #product .dimensions .col,
  #product .dimensions .col:first-child {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  #product .details {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  div.drawings div a.zoom img {
    width: 100% !important;
    float: none;
  }
  body.single-product h2.main-title {
    font-size: 28px;
  }
  div#ms-container .column.ms-item {
    position: relative !important;
    width: 100%;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    bottom:  auto !important;
  }
  div#ms-container .column.ms-item img {
     pointer-events: none;
  }

  .footerLogo div:first-child {
    border-right:0;
  } 
  a.unfancybox {
    display: none !important;
  }
  body.single-product div.images {
    height: auto;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 10px !important;
  }
  #product .owl-controls {
    display:none !important;
  }
    #product .images a.thumb img {
      width: 270px !important;
    }
/*    .owl-item {
      width: 100vw !important;
      height: 280px !important;
    }
    .owl-wrapper {
      width: 3000px !important;
    }*/
/*    #product .owl-carousel {
      width: 149px !important;
    }*/
    .owl-carousel .owl-wrapper-outer {
      width: 149px;
      margin:0 auto;
    }
    .owl-item {
      height: 180px !important;
    }
  .select-box {
    margin-bottom: 0;
  }
  #reset {
    padding-top: 3px !important;
    margin-left: 0 !important;
  }
    .product_share_wrapper .addtoany_shortcode {
          text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    }
}

